.header-container {
  align-items: center;
  background-color: #023031;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-container img {
  height: 96px;
  margin: -30px 0 15px 10px;
  width: 117px;
}

.container-user {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 41.65px;
  justify-content: flex-start;
  margin-right: 15px;
  width: 198.7px;
}

.container-icon span {
  font-size: 18px;
}

.container-icon {
  background-color: green;
  border-radius: 50px;
  height: 36.44px;
  margin: 0 5px;
  width: 36.44px;
}

.container-links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
}

.link-navigation {
  background-color: #f0f2f5;
  color: #2fc18c;
  font-size: 28px;
  font-weight: 700;
  padding: 25px 173px;
  text-decoration: none;
}

.link-navigation:hover {
  background-color: #036b52;
  color: white;
}
